@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fuente-inter: "Inter", sans-serif;
    --color-primario: #E5E5E5;
    --color-secundario: #1e40af;
    --color-terciario: #666;
    --color-border-button: #000000;
    --color-background: #ffffff;
    --font-size-primario: 2rem;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
}

header {
    padding: 2% 0 0 2% ;
    width: fit-content;
}

.encriptador__contenido {
    display: flex;
    gap: 5%;
}

.input_text_area {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 5%;
    /* padding: 0% 10%; */
}

.input_text_area textarea {
    font-family: var(--fuente-inter);
    background-color: var(--color-primario);
    font-size: var(--font-size-primario);
    width: 75%;
    height: auto;
    resize: none;
    padding:10% 10% 50%;
    caret-color: rgb(34, 32, 32);
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    outline: none;
}

textarea::placeholder {
    font-size: var(--font-size-primario);
    color: blue;

}

.warning_logo {
    display: flex;
    width: fit-content;
    margin-left: 10%;
}
.warning_text {
    width: fit-content;
    position: relative;
    bottom: 15px;
    font-family: var(--fuente-inter);
    font-weight: 200;
    font-size: 0.8rem;
    margin-left: 14%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: 10%;
}

.encriptar__button {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 24px 0;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: var(--color-secundario) ;
    border: 1px solid var(--color-border-button);
}

.desencriptar__button {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 24px 0;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secundario);
    background-color: #D8DFE8 ;
    border: 1px solid var(--color-secundario);
}


.output_text_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 32px ;
    margin-top: 0px;
    padding:1% 5%;
    width: 10%;
}

.placeholder__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    gap: 20px;
    padding-bottom: 60%;
}

.text-overlay {
    font-family: var(--fuente-inter);
    font-weight: 600;
    color: var(--color-terciario);
    font-size: 24px;
    width: auto;
  }

  .second-text-overlay {
    font-family: var(--fuente-inter);
    font-weight: 400;
    color: var(--color-terciario);
    font-size: 16px;
    width: auto;
  }

.output_text_area textarea{
    font-family: var(--fuente-inter);
    font-size: var(--font-size-primario);
    height: 90%;
    width: 150%;
    padding: 5%;
    resize: none;
    border-radius: 32px ;
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    outline: none;
}

.copiar__button {
    width: 100%;
    text-align: center;
    padding: 24px 0;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secundario);
    background-color: var(--color-background);
    border: 1px solid var(--color-border-button);
}

.output_text_area textarea:placeholder-shown {
    background: url('/assets/Muñeco.png') var(--color-background) calc(50% + 10px) calc(50% + 10px) no-repeat;
    min-width: 100%;
}

.output_text_area textarea:not(:placeholder-shown) + .placeholder__text {
    display: none;
}

@media (max-width:1600px) {
    .encriptador__contenido {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:50px;
    }

    .input_text_area {
        padding: 1%;
        width: 75%;
    }

    .input_text_area textarea {
        width: 100%;
        padding:5% 0% 10%;
    }

    .output_text_area + .placeholder__text {
        flex-direction: row;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .placeholder__text {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        position: absolute;
        gap: 20px;
        padding-bottom: 1%;
    }

    .output_text_area {
        width: 75%;
        padding: 1%;
    }

    .output_text_area textarea{
        width: 75%;
        padding: 5% 0%;
    }

    .output_text_area textarea:placeholder-shown {
        background: var(--color-background);
        min-width: 80%;
    }

    .copiar__button {
        width: 50%;
    }
}

@media (max-width:1080px) {
    .output_text_area textarea:placeholder-shown {
        padding: 15% 5%;
    }

}

@media (max-width:768px) {

    header {
        padding: 5% 0 0 2% ;
        width: fit-content;
    }
    .output_text_area textarea:placeholder-shown {
        padding: 20% 5%;
    }

    .input_text_area textarea {
        width: 100%;
        padding:10% 0% 30%;
    }
}

@media (max-width:480px) {
    .output_text_area textarea:placeholder-shown {
        padding: 45% 5%;
    }
}